<script type="text/javascript">
    $(document).ready(function() {

        $('#html_show').click(function(){
            var target = '<%= events_path(format: :html) %>';
            $('#SearchForm').attr('action', target);
            $('#SearchForm').submit();
        });

        $('#ics_export').click(function(){
            var target = '<%= events_path(format: :ics) %>';
            $('#SearchForm').attr('action', target);
            $('#SearchForm').submit();
        });

    });
</script>



<div class="col-md-12">
  <div class="container">
    <br><br><br>
    <div class="row search">
      <%= form_tag '#', method: :get, id: 'SearchForm' do %>
      <div class="col-md-9">
      <%= text_field_tag :slack, params[:slack], required: true, class:"form-control input",placeholder:"Enter the slack id" %>
      </div>
      <div class="col-md-3">
        <%= submit_tag "Search",id: 'html_show', class:"btn btn-info" %>
        <%= submit_tag "Calendar Export",id: 'ics_export',class:"btn btn-primary" %>
      </div>
      <br>
      <% end %>
    </div>
    <br>


    <% if current_user && current_user.admin? %>
     <hr display:"inline-block"/>
    <h2 class='admin-panel'>Admin panel</h2>
    <div class="row">

      <div class="col-md-6">
        <div class="row">
         <%= link_to "Downand weekly Shifts", {controller:'events', action: :ics_export, format: :ics}, class: 'btn btn-primary' %>
         <%= link_to "Import into Google Calendar and post the events to slack", "https://calendar.google.com", class:'btn btn-info' %>
        </div>
      </div>
      <div class="col-md-6">
        <%= link_to 'ATTENTION reset events this week', {controller:'events',action: :destroy_all}, method: :delete,class:'btn btn-danger' %>
        <%= render 'import' %>
      </div>

    </div>
    <% end %>
  </div>
  <table class="table table-bordered table-responsive table-hover">
    <thead>
      <hr>
      <tr>
        <td>Date</td>
        <td>Shift</td>
        <td>TAs</td>
        <% if current_user %>
        <td>Delete</td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @events.present? %>
      <%= render "event" %>
      <% else %>
      <p>Please enter your slack id</p>
      <% end %>
    </tbody>
  </table>
</div>
